html,body{
	height:100%; /* needed for container min-height */
}
img{
	width: 100%;
	height: 100%;
}
h1{
	font-size: 100px;
	color:#333;
}
h2{
	font-size: 50px;
	color:#3d3d3f;
}
h3{
	font-size: 30px;
	color:#3d3d3f;
}
h4,
label{
	font-size: 20px;
	color:#3d3d3f;
}
#head_container >nav{
	background-color: transparent;
	-o-transition:background-color 0.8s;
	-ms-transition:background-color 0.8s;
	-webkit-transition:background-color 0.8s;
    transition:background-color 0.8s;
}
.navbar-fixed-top{
	border-width: 0;
}
.navbar-toggle{
	border: 1px solid #fff;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-header .navbar-brand,
.navbar-nav>li>a{
	color: #fff;
}
.nav>li>a:hover,
.nav>li>a:focus{
    background-color: #dc2e2f;
}
.section-item{
	padding-top: 100px;
	padding-bottom: 100px;
	position:relative; /* needed for footer positioning*/
    margin:0 auto; /* center, not in IE5 */
    background:#f0f0f0;
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
}
#main{
	background: url("../img/main_bg.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	-ms-background-repeat: no-repeat;
	-o-background-repeat: no-repeat;
}
#main-content{
	position: absolute;
}
#main-content h1{
	color: #fff;
}
#main-content h2{
	color: #fff;
}
#about h1{
	font-size: 70px;
	margin: 10px 0; 
}
#about h2{
	margin: 10px 0; 
}
#about h3{
	margin: 5px 0; 
}
#about p{
	margin: 10px 0;
}
.div-info{
	margin-top: 30px;
}
.info-list{
	margin: 10px 0;
}
.info-list-item{
	margin-bottom: 5px;
	line-height: 1.5;
	color: #666;
}
.footer_sns{
	width: 50px;
    height: 50px;
    float: left;
    margin: 10px 0px;
    margin-right: 10px;
}
.footer_sns a img{
	border-radius: 40px;
}
#skill{
	background-color: #fff;
}
.skill-item{
    height: 200px;
    margin: 30px 0;
}
#proj .proj-item{
	margin: 0 0 30px;
}
#proj .proj-item .proj-link{
	display: block;
    position: relative;
    margin: 0 auto;
}
#proj .proj-item .proj-link .caption {
    background: rgba(220,46,47,.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -ms-transition: all ease .5s;
}
.proj-item .proj-link img{
	height: 160px;
}
#proj .proj-item .proj-link .caption:hover{
	opacity: 1;
}
#proj .proj-item .proj-link .caption .caption-content{
	color: #fff;
	text-align: center;
}
#proj .proj-item .proj-link .caption .caption-content p{
	padding-top: 20%;
}
.proj-modal .modal-content{
	border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}
.proj-modal .close-modal{
	position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.proj-modal .close-modal .lr{
	height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}
.proj-modal .close-modal .lr .rl{
	height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}
.modal-body .item-details li p{
	line-height: 1.5;
	word-break: keep-all;
	margin: 0 0 5px;
}
@media (max-width: 767px) {
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 26px;
	}
	h3{
		font-size: 20px;
	}
	h4,
	label{
		font-size: 14px;
	}
	.proj-item .proj-link img{
		height: 240px;
	}
/*	.proj-modal .modal-content{
		padding: 15px 0;
	}
	.proj-modal .close-modal{
		width: 30px;
		height: 30px;
	}
	.proj-modal .close-modal .lr{
		height: 30px;
		margin-left: 10px
	}
	.proj-modal .close-modal .lr .rl{
		height: 30px;
	}*/
}