{% extends "bootstrap/base.html" %}
{% block title %} JK Portfolio  {% endblock %}
{% block head %}
{{super()}}
  <meta charset="utf-8">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/setting.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head %}

{% block navbar %}
<div id="head_container">
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">JK Moon</a>
        </div>

        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="nav navbar-nav navbar-right">
            <li id='nav-home'><a class="mover" href="#main">HOME</a></li>
            <li id='nav-about'><a class="mover" href="#about">ABOUT</a></li>
            <li id='nav-skill'><a class="mover" href="/">SKILL</a></li>
            <li id='nav-exp'><a class="mover" href="/">EXP</a></li>
          </ul>
        </div>
    </div>
  </nav>
  </div>
{% endblock %}

{% block content %}
  {% block page_content %} {% endblock %}
<!--Footer-->
  <footer id="footer" class="footer">
    <div class="col-xs-12">
      <div class="row">
        <!-- SNS -->
        <div class="inline-content">
            <div class="footer_sns">
              <a href="https://www.facebook.com/banzzackbanzzack/" target="_blank"><img src="../static/img/footer-fb.png" onmouseover="this.src='../static/img/footer-fb-h.png'" onmouseout="this.src='../static/img/footer-fb.png'" alt="Facebook"></a>
            </div>
            <div class="footer_sns">
              <a href="http://blog.naver.com/homemaster0000" target="_blank"><img src="../static/img/footer-naver.png" onmouseover="this.src='../static/img/footer-naver-h.png'" onmouseout="this.src='../static/img/footer-naver.png'" alt="Naver"></a>
            </div>
            <div class="footer_sns">
              <a href="https://www.instagram.com/homemaster_official/" target="_blank"><img src="../static/img/footer-insta.png" onmouseover="this.src='../static/img/footer-insta-h.png'" onmouseout="this.src='../static/img/footer-insta.png'" alt="Instagram"></a>
            </div>
            <div class="footer_sns">
              <a href="https://www.youtube.com/channel/UCVczqJlYN51O6rG1TXESr1g" target="_blank"><img src="../static/img/footer-youtube.png" onmouseover="this.src='../static/img/footer-youtube-h.png'" onmouseout="this.src='../static/img/footer-youtube.png'" alt="Youtube"></a>
            </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
  $(".mover").on("click", function( e ) {
    
      e.preventDefault();

      $("body, html").animate({ 
          scrollTop: $( $(this).attr('href') ).offset().top
      }, 600);
      
  });
</script>
{% endblock %}

