{% extends "bootstrap/base.html" %}
{% block title %} JK Portfolio  {% endblock %}
{% block head %}
{{super()}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="기쁨을 만들고, 나누고 싶은 웹개발자입니다. :))">
  <meta name="keywords" content="웹개발자, 프론트엔드개발자, web-developer, front-end developer">
  <meta property="og:type" content="website">
  <meta name="og:title" content="JK Portfolio">
  <meta property="og:description" content="기쁨을 만들고, 나누고 싶은 웹개발자입니다. :))">
  <meta property="og:image" content="https://goliathtom11.pythonanywhere.com/static/img/main_bg.jpg">
  <meta property="og:url" content="https://goliathtom11.pythonanywhere.com/">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/setting.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo30X30.jpg') }}">
{% endblock head %}

{% block navbar %}
<div id="head_container">
  <nav class="col-xs-12 navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">JK Moon</a>
      </div>
      <div class="collapse navbar-collapse" id="nav-menu">
        <ul class="nav navbar-nav navbar-right">
          <li id='nav-home'><a class="mover" href="#main">HOME</a></li>
          <li id='nav-about'><a class="mover" href="#about">ABOUT</a></li>
          <li id='nav-skill'><a class="mover" href="#skill">SKILL</a></li>
          <li id='nav-proj'><a class="mover" href="#proj">PROJECTS</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}
  {% block page_content %} {% endblock %}
<!--Footer-->
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>© Copyright Jung Ki Moon all right reserved.</h4>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
  $(".mover").on("click", function( e ) {
      e.preventDefault();
      $("body, html").animate({ 
          scrollTop: $( $(this).attr('href') ).offset().top
      }, 600); 
  });
</script>
{% endblock %}

