{% extends "base.html" %}
{% block title %} JK Portfolio  {% endblock %}

{% block styles %}
{{super()}}

{% endblock styles %}

{% block page_content %}
<!-- Main Section -->
<section id="main" class="container-fluid section-item">
	<div id="main-content" class="container">
		<h1>I'm Jungki Moon</h1>
		<h2>Front-end Developer</h2>
	</div>
</section>
<section id="about" class="container-fluid section-item">
	<h1>Test Page Landing Success2222</h1>
</section>
{% endblock page_content %}

{% block scripts %}
{{super()}}
{% endblock %}

